*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
} 

.imagen__fondo{
    background-image: url(../Img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
}

.header__titulo__contenedor{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10rem;
}
.header__titulo{
    background-color: antiquewhite;
    font-style: oblique;
    position: relative;
    left: 6rem;    
}

.header__background{
    opacity: 0.8;
    background-color: antiquewhite;
}

.header__logout{
    position: relative;
    bottom: 8rem;
    right: 1rem;
    width: 6rem;
    height: 3rem;
}

.header__logo{
    width: 9rem;
    position: relative;
    padding: 1rem;
}

.nombre__index{
    position: relative;
    top: 7rem;
    right: 11rem;
    font-size: 1.8rem;
}

.imagenes__posicion{
    position: relative;
    right: 2rem;
}
.left{
    display: flex;
    justify-content: end;
}

.flex{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    
}

.opciones{
    gap: 12rem;
    position: relative;
    left: 10rem;
}

.paddingTop{
    padding-top: 3rem;
}

.paddingBottom{
    padding-bottom: 3rem;
}



.btn-contenedor{
    padding: 1.2rem;
    position: relative;
    left: 5rem;
}
.btn-tamaño{
    width: 15rem;
    
}

.body__suites__contenedor{
    width: 20rem;
    
}
.body__suites{
    width: 17rem;
    position: relative;
    left: 5rem;
    bottom: 1rem;
    
    
}

.gap{
    
    padding: 1rem; 
    
}

.body__form__centrado{
    position: relative;
    left: 15rem;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregunta{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 58rem;
    top: 13rem;
}

.inner{
    border: solid 1px black;
    border-radius: 1rem;
    position: relative;
    right: 40rem;
    top: 14rem;
    width: 15rem;
    margin-block-end: auto;
    background-color: #f7e2e2;
    padding: 1rem;
}


